/* Corpo della pagina */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #121212;
  flex-direction: column; /* Imposta il layout in colonna */
}

/* Contenitore */
#title-container {
  text-align: center;
  background-color: #1F1F1F;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Ombra decisa e scura */
}

#button-container {
  text-align: center;
  background-color: #1F1F1F;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 25px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Ombra decisa e scura */
}

/* Pulsanti in layout Grid */
#buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne uguali */
  gap: 20px; /* Spaziatura tra i pulsanti */
}

button {
  padding: 15px 20px;
  font-size: 1.2em;
  color: #121212;
  background-color: #c493fd;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, border-radius 0.3s; /* Transizione anche per border-radius */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Ombra decisa e scura */
  border-radius: 10px; /* Angoli iniziali retti */
  font-weight: bold; /* Rende il testo in grassetto */
  font-variant-caps: small-caps; /* Trasforma tutto in maiuscoletto */
  text-transform: uppercase; /* Trasforma il testo in maiuscolo */
}

button .button-description {
  display: block; /* Viene messo su una nuova riga */
  font-size: 0.6em; /* Dimensione del testo più piccola */
  color: #121212; /* Colore del testo per la descrizione */
  margin-top: 5px; /* Distanza dal titolo */
  font-weight: normal; /* Se vuoi che la descrizione non sia in grassetto */
}
  
button:hover {
  background-color: #bb86fc; /* Colore al passaggio del mouse */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Ombra decisa e scura */
  border-radius: 25px; /* Angoli arrotondati al passaggio del mouse */
}

h1 {
  font-size: 2.5em; /* Imposta la dimensione del font */
  color: #c493fd; /* Imposta il colore del testo */
  font-weight: bold; /* Rende il testo in grassetto */
  text-transform: uppercase; /* Trasforma il testo in maiuscolo */
  font-variant-caps: small-caps; /* Applica l'effetto maiuscoletto (opzionale) */
  text-align: center; /* Allinea il testo al centro */
  text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Ombra decisa e scura */
}
